html, body{
    height: 100%;
}

.form-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
}

.btn-square {
    width: 3em; /* Adjust the size as needed */
    height: 3em; /* Adjust the size as needed */
    padding: 0;
}
